p{
    color: red;
    font-size: 30pt;
    
}
#grubylaskowska{
    color: green;
    font-size: 20pt;
    font-weight: bold;
}
#dlawszystkichlaskowska{
    color: yellow;
    font-size: 10pt;
    font-family: Arial;
}